.page {
  .header-content{
    padding: 0px 0 194px;

    h1 {
      text-align: left;
      text-transform: none;
    }

    p {
      text-align: left;
      margin: 0 0 40px;
      float: left;
      font-size: 20px;
    }

    .btn-start {
      margin: -45px 0 0;
      float: right;
    }
  }

  .lorem {
    list-style: none;

    li {
      font-size: 1.6em;
      line-height: 2em;

      span {
        color: $green;
        margin-right: 15px;
      }
    }
  }





  @media only screen and (max-width: 1500px){
    .header-content .btn-start {
      margin: 0;
      float: left;
    }
  }


  @media only screen and (min-width: 1200px){

  }

  @media only screen and (max-width: 992px){
    .header-content{
      padding: 100px 0 236px;
      h1{
        font-size: 24px;
      }
    }
    .block-cards{
      .card-item{
        margin-bottom: 40px;
      }
      .col-lg-4{
        &:last-of-type{
          .card-item{
            margin-bottom: 0;
          }
        }
      }
    }
    .block-text{
      padding: 80px 0;
      img{
        max-width: 272px;
        margin: 0 auto 25px;
        display: block;
      }
      h2{
        margin: 0 auto 25px;
        max-width: 272px;
        font-size: 22px;
      }
      p{
        margin: 0 auto 25px;
        max-width: 272px;
      }
      .btn-wrap{
        margin: 0 auto;
        max-width: 272px;
      }
    }
    .block-form{
      padding: 60px 0;
      h2{
        font-size: 26px;
        margin-bottom: 65px;
      }
    }
  }

  @media only screen and (max-width: 769px){
    .block-form{
      padding: 60px 0;
      h2{
        font-size: 26px;
        margin-bottom: 65px;
      }
      form{
        max-width: 272px;
        margin: 0 auto;
        .row-form{
          display: block;
        }
        input{
          width: 100%;
          margin-bottom: 20px;
          &:nth-of-type(2){
            margin-left: 0;
          }
        }
        textarea{
          margin-bottom: 40px;
        }
      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 992px){
    .block-text{
      img, h2, p, .btn-wrap{
        max-width: 445px;
      }
    }
  }
}